[FDConnectionDefs.ini]
Encoding=UTF8

[Access_Demo]
DriverID=MSAcc
Database=$(FDHOME)\DB\Data\FDDemo.mdb

[MySQL_Demo]
DriverID=MySQL559
Server=APP
Port=3306
Database=ADDemo
User_Name=root
Password=
MetaDefCatalog=ADDemo

[DB2_Demo]
DriverID=DB2
Alias=ADDEMO
User_Name=db2admin
Password=Parliament
MetaDefSchema=db2admin

[MSSQL_Demo]
DriverID=MSSQL
Server=MSSQL_2000_APP
Database=Northwind
User_Name=sa
MonitorBy=Remote
MetaDefSchema=dbo
MetaDefCatalog=Northwind

[ASA_Demo]
DriverID=ASA
Server=app\addemo
Database=addemo
User_Name=dba
Password=sql
MetaDefSchema=dba

[Oracle_Demo]
DriverID=OraXE
DataBase=XE
User_Name=ADDemo
Password=a
MetaDefSchema=ADDemo

[PG_Demo]
DriverID=PG90
Server=127.0.0.1
Database=addemo
User_Name=postgres
Password=marlboro

[SQLite_Demo]
DriverID=SQLite
Database=$(FDHOME)\DB\Data\FDDemo.sdb

[My_BSQL]
DriverID=TDBX
DriverName=BlackfishSQL
database=c:\addemo
user_name=sysdba
password=masterkey
hostname=127.0.0.1
port=2508
create=True
MonitorBy=Remote

[ASE_Demo]
DriverID=ODBC
ODBCDriver=Adaptive Server Enterprise
ODBCAdvanced=server=da;port=5000;quotedidentifier=1
Database=addemo
User_Name=sa
;MetaDefCatalog=addemo
;MetaDefSchema=dbo