* -text

*.bmp binary
*.bpi binary
*.bpl binary
*.cds binary
*.db binary
*.dbf binary
*.dbt binary
*.dcr binary
*.dres binary
*.er1 binary
*.exe binary
*.fds binary
*.gbk binary
*.gdb binary
*.hlp binary
*.ib binary
*.ico binary
*.identcache binary
*.jpg binary
*.lib binary
*.mb binary
*.mdb binary
*.mdx binary
*.mp3 binary
*.mp4 binary
*.pdf binary
*.png binary
*.px binary
*.res binary
*.sdb binary
*.s3db binary
*.tga binary
*.val binary
*.xg0 binary
*.x02 binary
*.x03 binary
*.x07 binary
*.yg0 binary
*.y02 binary
*.y03 binary
*.y07 binary
