TCGAUGE BITMAP LOADONCALL MOVEABLE DISCARDABLE "tcgauge.bmp"
TCCOLORGRID BITMAP LOADONCALL MOVEABLE DISCARDABLE "tccolorgrid.bmp"
TCCALENDAR BITMAP LOADONCALL MOVEABLE DISCARDABLE "tccalendar.bmp"
TCDIRECTORYOUTLINE BITMAP LOADONCALL MOVEABLE DISCARDABLE "tcdirectoryoutline.bmp"
TCSPINBUTTON BITMAP LOADONCALL MOVEABLE DISCARDABLE "tcspinbutton.bmp"
TCSPINEDIT BITMAP LOADONCALL MOVEABLE DISCARDABLE "tcspinedit.bmp"
TCTRAYICON BITMAP LOADONCALL MOVEABLE DISCARDABLE "ttrayicon.bmp"
TPIE BITMAP LOADONCALL MOVEABLE DISCARDABLE "tcpie.bmp"
TPERFORMANCEGRAPH BITMAP LOADONCALL MOVEABLE DISCARDABLE "tperformancegraph.bmp"

